@media (max-width: 900px) {
  .tutorial-install-video-wrapper {
    max-width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  .tutorial-install-quote {
    font-size: 15px;
    max-width: 98vw;
    margin-top: 16px;
    padding: 0 2vw;
  }
}

/* Installation Guide Block Styles */
.tutorial-install-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.tutorial-install-video-wrapper {
  width: 90%;
  max-width: 800px;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.10);
  /* background: #fff; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.tutorial-install-video {
  /* padding: 0 30px; */
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tutorial-install-iframe {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border: none;
}
.tutorial-install-quote {
  margin-top: 16px;
  text-align: center;
  color: #222;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
